"""Configuration file for different Timeflow plugins.

Duplicate this file and rename it to config.py for actual usage
"""


# Timesketch configuration
TS_USERNAME = 'user'  # Change this to your own username
TS_PASSWORD = 'pwd'  # Change this to your password
TS_HOST = 'http://localhost:5000'  # Change to the actual Timesketch endpoint
