matrix:
  include:
  - name: "Pylint on Ubuntu Xenial (16.04) with Python 3.6"
    env: TARGET="pylint"
    os: linux
    dist: xenial
    sudo: required
    group: edge
    language: python
    python: 3.6
  - name: "Ubuntu Xenial (16.04) with Python 3.6"
    env: TARGET="linux-python36"
    os: linux
    dist: xenial
    sudo: required
    group: edge
    language: python
    python: 3.6
install:
- pip install -r requirements.txt
- pip install mock
- if test ${TARGET} = "pylint"; then pip install pylint; fi
- if test -n "${TOXENV}"; then pip install tox; fi
script:
- ./config/travis/run_with_timeout.sh 30 ./config/travis/runtests.sh
after_success:
- if test ${TARGET} = "linux-python36"; then curl -o codecov.sh -s https://codecov.io/bash && /bin/bash ./codecov.sh; fi
