include ACKNOWLEDGEMENTS AUTHORS LICENSE README.md
include dependencies.ini run_tests.py utils/__init__.py utils/dependencies.py
include utils/check_dependencies.py
exclude .gitignore
exclude *.pyc
recursive-include config *
recursive-exclude dftimewolf *.pyc
# The test scripts are not required in a binary distribution package they 
# are considered source distribution files and excluded in find_package()
# in setup.py.
recursive-include tests *.py
