[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "<2.0.0"
mock = "*"
coverage = "*"

[packages]
requests = "*"
"beautifulsoup4" = "*"
grr-api-client = "*"
pytz = "*"
chardet = "*"
"urllib3" = "*"
pyyaml = "*"
turbinia = "*"
future = "*"
"pypdf2" = "*"
six = "*"
