[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mock = "*"
pylint = "*"
coverage = "*"

[packages]
beautifulsoup4 = "*"
google-cloud-logging = "*"
grr_api_client = "*"
libcloudforensics = "*"
pypdf2 = "*"
pyyaml = "*"
requests = "*"
six = "*"
timesketch-api-client = ">=20200514"
timesketch-import-client = ">=20200514"
turbinia = "*"
