[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mock = "*"
pylint = "*"

[packages]
"beautifulsoup4" = "*"
"pypdf2" = "*"
google-cloud-logging = "*"
grr-api-client = "*"
libcloudforensics = "*"
pyyaml = "*"
requests = "*"
six = "*"
timesketch-api-client = ">=20200514"
timesketch-import-client = ">=20200514"
turbinia = "*"

[requires]
python_version = "3.6"
