-i https://pypi.org/simple
appnope==0.1.0 ; sys_platform == 'darwin'
asn1crypto==1.2.0
backcall==0.1.0
beautifulsoup4==4.8.1
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
cryptography==2.7
decorator==4.4.1
future==0.17.1
git+https://github.com/tomchop/turbinia.git@4da9b772e883c84c41f5714faea50f67a6c878d7#egg=turbinia
google-api-core[grpc]==1.14.3
google-auth==1.7.1
google-cloud-core==1.0.3
google-cloud-logging==1.14.0
googleapis-common-protos==1.6.0
grpcio==1.25.0
grr-api-client==3.3.0.post8
grr-response-proto==3.3.0.post8
idna==2.8
ipython-genutils==0.2.0
ipython==7.2.0
jedi==0.15.1
parso==0.5.1
pexpect==4.7.0 ; sys_platform != 'win32'
pickleshare==0.7.5
prompt-toolkit==2.0.10
protobuf==3.10.0
ptyprocess==0.6.0
pyasn1-modules==0.2.7
pyasn1==0.4.8
pycparser==2.19
pygments==2.4.2
pypdf2==1.26.0
pytz==2019.3
pyyaml==5.1.2
requests==2.22.0
rsa==4.0
six==1.13.0
soupsieve==1.9.5
traitlets==4.3.3
urllib3==1.25.7
wcwidth==0.1.7
werkzeug==0.16.0
