name: Build documentation pages

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install mkdocs
        run: pip install mkdocs
      - name: Build doc
        run: mkdocs build
      - name: Publish doc to GitHub pages
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: mkdocs gh-deploy --force
